.audio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: -3em;
   
}

.audio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
     gap: 5em;
}


.audio-levels{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top:3em;
}


.audio-labels, .audio-level-state, .audio-mute-state{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-size: 28px;
    font-weight: 700;
}


.audio-labels{
    display: flex;
    justify-content: space-around;
    margin-top: -2em;
}

.audio-labels div {
    margin-left:1.5em;
}

.audio-level-state{
margin-top: 2em;
}
.audio-levels input {
    rotate: -90deg;
    width: 250px;
}

.icons{
    display: flex;
    justify-content: center;
    margin-top: -2em;
    
    
}

.icons * {
    cursor: pointer;

}