.camera-container{

width: 100%;
display: flex;
flex-direction: column;
align-content: center;
align-items: center;
}

.camera-labels{
 display: flex;
 flex-direction: row;
 justify-content: center;
 width: 100%;
}

.camera-labels * {
   display: flex;
   justify-content: space-around;
   width: 100%;     
}

.camera-labels label{
    color: white; 
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 1em;
}

.camera-directionals{
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 8em;


}

.camera-displays{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.camera-displays * {
 width: 100%; 
}

.Direction-Grid{
    background-color: #9b9b9b2b;
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 columns, each taking 1 fractional unit of space */
    grid-template-rows: repeat(3, 1fr); /* Creates 3 rows, each taking 1 fractional unit of space */
    gap: 6rem; /* Adds space between grid items */
    padding: 1em;
}

.up, .down, .right, .left{
    cursor: pointer;
    border-radius: 20px 20px;
}

.presets-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
        gap: 1em;
}

.preset-button {
    padding: 1.5em;
    background-color: #9a9a9a51;
    color: white;   
    border-radius: 10px;
    cursor: pointer;

}