.camera-container{
 height: 100%;
    margin-top: -5em;
}

.camera-labels{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 
}

.camera-labels label{
    color: white; 
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 1em;
}

.camera-directionals{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 2em;
    height: auto;

}

.camera-tables{
    background-color: #9b9b9b2b;
    border-radius: 10px;
    margin-left: 2em;
}

.up,.down{
    display: flex;
    justify-content: center;


   
  
}

.up{
     padding-top: 1em;
     padding-bottom: 3.5em;
}

.down {
    padding-bottom: 1em;
    padding-top: 3.5em;
}





.left{
    padding-left: 1em;
    padding-right: 8em;
  
}

.right{
    padding-right: 1em;
    padding-left:8em;
}


.up, .down, .right, .left{
    cursor: pointer;
}

.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 
}


.presets-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

.preset-button *{
    padding: 1.5em;
    background-color: #9a9a9a51;
    color: white;   
    border-radius: 10px;
    cursor: pointer;
}