.home-page-container{
    width: auto;
    height: 100dvh;
    background-color: #0066b2 !important;
    padding: 25px;


}
.home-page-sub-container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
     background-color: #0a3c91 !important;
     width: 100%;
     height:100%;
     border-radius: 30px;
     
     
}

.home-page{
    display: flex;
    justify-content: center;
    
    
}

.logo, .page-label {
   transition: background-color 0.5s ease-in-out, width 0.5s ease-in-out;
}

.row-c{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top:-12em;
    font-size: 26px;
    font-weight: 100;
    padding: 2em;
        text-decoration: none;
}

.row-c div{
    width:350px;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    background-color: brown;
    margin: 0.5em;
    cursor: pointer;
    
    
}

.text{
    text-decoration: none;
    color:white;
}

.home-page-top-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    
   
}

.page-label{
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    
}

