.container{
    display: flex;
    justify-content: center;

}

.live-telemetry-container{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.158);
    padding-left: 2em;
    padding-right: 2em;

    border-radius: 10px;
   
}

.header{
    font-size:35px;
    font-weight: 800;
    padding-bottom: 0.5em;
}

.telemetry-components{
    font-size: 20px;
    font-weight: 600;
        display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.uplink-bandwidth, .signal-delay, .satellite-altitude{
    
    background-color: rgba(95, 158, 160, 0.425);
    width: auto;
    border-radius: 10px;
}

.uplink-bandwidth, .signal-delay, .satellite-altitude{
    display: flex;
    flex-direction: column;
}

.data{
    font-size: 30px;
}

.delay{
    color: rgba(255, 255, 0, 0.795);
}