.Mission-Timer-Container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;

    background-color: rgba(0, 0, 0, 0.158);
    padding: 2em;
    border-radius: 10px;

     width: auto;
}



.Title{
    font-size:35px;
    font-weight: 800;


}

.Timer{
    font-size: 50px;
    padding: 0.3em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.288);
}

.button-container{
    display: flex;
    gap: 1em;
    margin-top:  10px;
}

.Start-Stop-Button, .Reset-Button{
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.219);
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
}