.inputs-feedback-container, .displays-state-container, .sources-container{
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    
    
    
}

.input-value{
    background-color: #475d5d5d;
    padding: 3em;
    border-radius: 10px;
    width: 250px;
    color: white;   
    text-align: center;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
}

.Display-Type{
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}

.display-value{
    height: 100%;
    background-color: #475d5d5d; 
    width: 120px;
    margin-top: 1em;
    text-align: center;
    padding: 1.5em;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border-color: azure;
    border-width: 0.3px;
    border-style: solid;
        text-wrap: nowrap;
        
}

.sources-value{
    height:100%;
    background-color:#57a8a85d!important;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    color: white;

}

Link *{
      text-decoration: none !important;  
}

